$sidebar-width: 11rem;

@import "~tabler/src/scss/tabler";
@import "~metismenujs/scss/metismenujs";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~toastr/toastr";

.upload-images {
    padding-bottom: 30px;
}
.post-images-120 {
    li {
        position: relative;
    }
    
    img {
        width: 120px;
        height: 120px;
    }
    div {
      height:120px;
      width: 120px;
      position: absolute;
      text-align: center;
      opacity: 0;
      top: 0;
      &:hover {
        opacity: .75;
      }
      span {
        display: block;
        color: #FFF;
        background-color: #333;
        cursor: pointer;

      }
    }
}
#fileupload, #uploadqr, #avatar_upload, .upload-swiper {
    opacity: 0; 
    top: 0;
    left: 0;
    z-index: 10;
    width:90px;
    height:31px;
}

#uploadqr {
  width: 120px;
}

a.mm-active, li.mm-active > a {
  color: #FFF;
  background-color: #232a35;
}

.dropdown-item:hover, .dropdown-item:focus {
  color: #fff;
  background-color: #232a35;
}

.card-footer {
  .pagination {
    text-align: right;
    margin-bottom: 0;
    justify-content: center;
  }
  .page-link {
   padding: 0 .2rem; 
  }
}

.category-depth-1 {
  td:nth-child(2) {
    font-weight: bold;
    font-size: 15px;
  }
}

.category-depth-2 {
  td:nth-child(2) {
     &::before {
      content: '┗━';
      padding-right: 8px;
      vertical-align: sub;
    }
  }
}

.post-status-pending::before {
  content: '未审核';
  border: 1px solid #f44336;
  font-size: 12px;
  word-break: keep-all;
  padding: 0px 2px;
  border-radius: 3px;
  color: #f44336;
}

.post-status-published::before {
  content: '已发布';
  border: 1px solid #4caf50;
  font-size: 12px;
  word-break: keep-all;
  padding: 0px 2px;
  border-radius: 3px;
  color: #4caf50;
}

.user-avatar {
  width: 180px;
  height: 320px;
  border: 1px solid #fafafa;
  border-radius: 5px;
}

.wed-config-swiper {
  width: 240px;
  height: 90px;
}
