@import "~weui/dist/style/weui.css";

.container {
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    color: var(--weui-FG-0);
}

.page {
    position: absolute;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    box-sizing: border-box;
    z-index: 1;
}

.content {
    width: 100vw;
}

.navbar {
    p {
        padding: .5rem 0;
        font-size: 16px;
    }
}

.wrap {
    background-color: #fd4343;
    padding-bottom: 70px;
}
.title-bg {
    img {
        width: 100vw;
    }
}

@keyframes rowup {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -50%, 0);
    }
}
.buyer-list{
    width: 40vw;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: rgba($color: #333, $alpha: .7);
    position: fixed;
    color: #fff;
    left: 5vw;
    top: 8vw;
    height: 35px;
    overflow: hidden;
}

.rowup{
    animation: 10s rowup linear infinite normal;
    position: relative;
}

.time-count {
    background-color: #FFF;
    width: 50vw;
    margin: 20px auto;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    color: #000;
}

.shopinfo {
    padding: 10px 20px;
}

.joiner-list {
    margin: 20px;
    height: 120px;
    overflow: hidden;
    .rowup {
        font-size: 0;
        div {
            text-align: center;
            display: inline-block;
            font-size: 1rem;
            width: 25%;
            height: 90px;
            overflow: hidden;
            img {
                width: 48px;
            }
        }
    }
}

.market-joiner, .market-shopinfo, .market-rank {
    padding: 20px 10px 10px 10px;
    margin: 10px;
    border-radius: 4px;
    background-color: #FFF;
}

.market-detail {
    text-align: center;
    color: #FFF;
    font-size: 14px;
    padding-top: 10px;
}

.btn-buy {
    position: fixed;
    width: 80vw;
    margin: 0 10vw;
    border-radius: 15px;
    bottom: 15px;
    background: linear-gradient(#ffe726,#fda821);
    justify-content: center;
    text-align: center;
    height: 3rem;
    font-size: 16px;
    line-height: 3rem;
    .buy-count, .buy-it {
        width: 30vw;
    }
}

.title {
    background: url(../images/icon-head.png) no-repeat;
    background-size: cover;
    width: 140px;
    height: 41px;
    line-height: 41px;
    color: #FFF;
    margin: 0 auto;
    text-align: center;
}

.rank-list {
    margin: 20px;
    height: 150px;
    font-size: 14px;
    overflow: hidden;
    .rowup {
        &>div {
            height: 50px;
            overflow: hidden;
            img {
                width: 40px;
                margin-right: 10px;
            }
        }
    }
}

.share-img {
    width: 50px;
    height: 65px;
    background: url(../images/haibao.png) no-repeat;
    background-size: cover;
    position: fixed;
    right: 10px;
    top: 150px;

    a {
        display: block;
        height: 100%;
    }
}

.kefu {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    line-height: 50px;
    text-align: center;
    background-color: #000;
    opacity: .75;
    position: fixed;
    top: 50px;
    right: 10px;
    div {
        color: #FFF;
        opacity: 1;
    }
}

.apply {
    position: fixed;
    bottom: 150px;
    width: 50px;
    height: 50px;
    background: url(../images/apply.png) no-repeat;
    background-size: cover;
    left: 10px;
}

.call {
    position: fixed;
    left: 14px;
    bottom: 100px;
    width: 24px;
    height: 24px;
    border-radius: 25px;
    background-color: green;
    padding: 10px;

    .call-icon {
        width: 24px;
        height: 24px;
        background: url(../images/tel.png) no-repeat;
        background-size: cover;
    }
}

.market-list {
    ul {
        
        width: 92vw;
        margin: 25px auto 0 auto;
    }
        
    li {
        list-style: none;
        margin: 15px 0;
    }

    img {
        width: 92vw;
        border-radius: 5px;
        box-shadow: 0px 1px 5px 2px rgba(135,135,135,0.38);
    }
}

.orders-list {
    li {
        list-style: none;
        margin: 5vw 4vw;
        padding: 3vw;
        border-radius: 5px;
        background-color: #f9f9f9;
        box-shadow: 0px 1px 5px 2px rgba(190, 190, 190, 0.38);
    }
}