html, body {
    height: 100%;
}
body {
    margin: 0;
}
.container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}
.page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    box-sizing: border-box;
    z-index: 1;
}
.content {
    background-color: #f7f7f7;
}

.swiper-container {
    width: 100vw;
}
.swiper-slide {
    img {
        width: 100%;
    }
}

.swiper-pagination-bullet {
    background-color: #FFF !important;
}

.masonry-container {
    position: relative;
    background-color: #FFF;
    padding-top: 20px;
    .item {
        position: absolute;
    }
}

.user-info {
    text-align: center;
    width: 45vw;
    box-shadow: rgba(53, 64, 82, 0.24) 0 2px 4px 0;
    border-radius: 3px;
    margin: 10px auto;
    .info-wrap {
        position: relative;
        .vip-user {
            background: url('/images/vip.png') no-repeat;
            background-size: cover;
            position: absolute;
            top: 0;
            left: 0;
            width: 40px;
            height: 30px;
            z-index: 100;
            opacity: .8;
        }
        img {
            height: 60vw;
            width: 45vw;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }
    }
    .user-assets {
        list-style: none;
        padding-bottom: 8px;
        li {
            display: inline-block;
        }
        .tag-text {
            font-size: 12px;
            line-height: 12px;
            border-radius: 3px;
            padding: 2px 3px;
        }

        .border-text-red {
            border: 1px #F44336 solid;
            color: #F44336;
        }

        .border-text-green {
            border: 1px #009688 solid;
            color: #009688;
        }
    }

    .user-baseinfo {
        color: #333;
        .user-name {
            font-size: 15px;
        }
        .user-other {
            font-size: 13px;
            color: #666;
        }
    }
}

.notice {
    background-color: #FFF;
    padding: .8rem 1rem;
    margin-bottom: 7px;
}

.weui-tabbar {
    background-color: #FFF;
    box-shadow: 0px -2px 8px -2px rgba($color: #d0d0d0, $alpha: 0.5);
    p {
        font-size: 1.1rem;
        padding: .5rem;
    }
}

.d-none {
    display: none;
}