html, body {
    height: 100%;
}
body {
    margin: 0;
}
.container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}
.page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    box-sizing: border-box;
    z-index: 1;
    background-color: #f7f7f7;
}
.content {
    background-color: #f7f7f7;
}

.swiper-container {
    width: 100vw;
    height: 50vw;
}
.swiper-slide {
    img {
        width: 100%;
    }
}

.swiper-pagination-bullets {
    bottom: 0 !important;
}
.swiper-pagination-bullet {
    background-color: #FFF !important;
    width: 16px !important;
    height: 4px !important;
    border-radius: 3px !important;
}

.masonry-container {
    position: relative;
    background-color: #FFF;
    padding: .8rem 0;
    .item {
        position: absolute;
    }
}

.user-info {
    text-align: center;
    width: 45vw;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
    border-radius: 3px;
    margin: 10px auto;
    .user-info-image {
        position: relative;
        .vip-user {
            background: url('/images/vip.png') no-repeat;
            background-size: cover;
            position: absolute;
            top: 0;
            left: 0;
            width: 2.2rem;
            height: 1.1rem;
            z-index: 100;
            opacity: .8;
        }
        img {
            height: 60vw;
            width: 45vw;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }
    }
    .user-info-intro {
        padding: .6rem;
        text-align: left;
    }
    .intro-assets {
        list-style: none;
        li {
            display: inline-block;
        }
        .tag-text {
            font-size: .85rem;
            line-height: 12px;
            border-radius: 3px;
            padding: 2px 3px;
        }

        .border-text-red {
            border: 1px #F44336 solid;
            color: #F44336;
        }

        .border-text-green {
            border: 1px #009688 solid;
            color: #009688;
        }
    }

    .intro-base {
        text-align: left;
        color: #333;
        line-height: 1.5rem;
        .user-name {
            font-size: 1.1rem;
            font-weight: bold;
        }
        .user-other {
            font-size: .85rem;
            color: #666;
        }
    }
}

.weui-tabbar {
    background-color: #FFF;
    box-shadow: 0px -2px 8px -2px rgba($color: #d0d0d0, $alpha: 0.5);
}

.weui-tabbar__label {
    color: #BFBFBF;
}

.weui-tabbar__item
{
    .active {
        display: none;
    }
    .normal {
        display: inline-block;
    }
}

.weui-tabbar__item.weui-bar__item_on
{
    .active {
        display: inline-block;
    }
    .normal {
        display: none;
    }
}
.weui-tabbar__item.weui-bar__item_on .weui-tabbar__label
{
    color: #FF6A95;
}

.loading, .no-more, .load-more {
    text-align: center;
    font-size: 13px;
    padding: 10px 0;
}
.d-none {
    display: none !important;
}

.page-loading {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    background: #FFF;
    color: #666;
    >div {
        margin-top: 40vh;
        text-align: center;
    }
}

.user-detail {
    &-header {
        background: url('http://www.dtwmsj.com/uploads/20201207/917319b3f07fa91b7380c1c5d5ad50fa.jpg') no-repeat;
        background-size: cover;
        position: relative;
        height: 40vw;
    }
    .user-avatar {
        position: absolute;
        left: 5vw;
        bottom: -10vw;
        width: 20vw;
        height: 20vw;
        padding: 1vw;
        background-color: #fff;
        border-radius: 4px;
        overflow: hidden;
        z-index: 100;
        box-shadow: 0 2px 6px 1px #c7c7c7bf;
        img {
            width: 20vw;
            height: 20vw;
        }
    }
}
.user-detail-info {
    padding-left: 32vw;
    padding-top: .9rem;
    display: flex;
    margin-bottom: 1.1rem;
    font-size: 1.1rem;
    height: 1.5rem;
    line-height: 1.6rem;

    .gender-1, .gender-2 {
        color: #FFF;
        font-size: .85rem;
        height: .85rem;
        border-radius: .3rem;
        padding: .2rem .3rem;
        margin: .2rem 0 0 .7rem;
        line-height: .85rem;
        &::before {
            content: ' ';
            display: inline-block;
            height: .85rem;
            width: .85rem;
            vertical-align: bottom;
            margin-right: .25rem;
        }
    }
    .gender-1 {
        background-color: #0091FF;
        &::before {
            background: url('../images/nan.svg') no-repeat;
            background-size: contain;
        }
    }
    .gender-2 {
        background-color: #FF4D94;
        &::before {
            background: url('../images/nv.svg') no-repeat;
            background-size: contain;
        }
    }
}
.detail-card {
     &-header {
        display: inline-block;
        font-size: 1.2rem;
        font-weight: bold;
        color: #666;
        border-bottom: 3px solid #FF6A95;
        margin: .6rem 1rem .2rem 1rem;
    }
    &-body {
        width: 96vw;
        margin: 2vw auto;
        background-color: #FFF;
        border-radius: .2rem;
        padding: 5vw 0;
    }
}

.detail-baseinfo {
    dl {
        display: flex;
        padding: .2rem 1rem;
    }
    dt {
        min-width: 5rem;
        font-size: 1rem;
        font-weight: bold;
        color: #333;
        margin-right: .3rem;
    }
    dd {
        color: #666;
    }
}
.detail-tags {
    .none-tags {
        text-align: center;
        padding: .3rem 2rem;
        color: #666;
    }
}
.detail-images {
    .none-images {
        text-align: center;
        padding: .3rem 2rem;
        color: #666;
    }
}

.complete-userinfo-toptip {
    text-align: center;
    padding: 1rem 0;
    color: #666;
}

.contact-us {
    margin: 2rem 0;
    text-align: center;
    img {
        width: 50vw;
        height: 50vw;
    }
}

.notice {
    display: flex;
    background-color: #FFF;
    padding: .7rem .2rem;
    margin: .4rem 0;
    line-height: .9rem;
    img {
        width: 1rem;
        margin: 0 .6rem;
    }
    a {
        font-size: .85rem;
        color: #999;
        
    }
}

.profile{
    &-top-wrap {
        display: flex;
        background-color: #FF6A95;
        color: #fff;
        padding: 2rem 1rem 1.3rem 1rem;
    }
    &-avatar {
        margin-right: 1rem;
        img {
            border-radius: 50%;
            height: 4rem;
            width: 4rem;
            border: 3px solid #FFD8E0;
        }
    }
    &-info-name {
        font-size: 1.4rem;
        margin-bottom: .4rem;
        span {
            font-size: .9rem;
            background-color:#FFD8E0;
            color: #FF6A95;
            border-radius: 2px;
            padding: .2rem .4rem;
            vertical-align: text-bottom;
        }
    }
    &-info-percent {
        opacity: .8;
    }

    &-photos {
       background-color: #FFF;
       margin-top: .4rem; 
       color: #666;
    }
    &-menu {
        color: #555;
        font-size: 1.2rem;
        background-color: #FFF;
        padding: 1rem;
        margin-top: .4rem;
        ul {
            list-style: none;
            padding: 0 .5rem;
            li {
                padding: .8rem 0;
                img {
                    height: 1.5rem;
                    width: 1.5rem;
                    margin-right: .3rem;
                }
                div {
                    text-align: left;
                }
            }
            li:not(:last-child) {
                border-bottom: 1px solid rgb(238, 238, 238);
            }
        }

        .arrow-next {
            height: 1.2rem;
            margin-left: .5rem;
        }
        .font-small {
            font-size: 1rem;
            color: #666;
        }
    }
}

.d-flex {
    display: flex;
}
.align-items-center {
    align-items: center;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content-end {
    justify-content: flex-end;
}

.detail-finish-percent {
    right: 1rem;
    top: .5rem;
    font-size: 1rem;
    img {
        height: .9rem !important;
    }
}