html, body {
    height: 100%;
}
body {
    margin: 0;
    background-color: #f7f7f7;
}
.container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}
.page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    box-sizing: border-box;
    z-index: 1;
}
.content {
    background-color: #f7f7f7;
}

.swiper-container {
    width: 100vw;
    height: 50vw;
}
.swiper-slide {
    img {
        width: 100%;
    }
}
.swiper-pagination-bullets {
    bottom: 0 !important;
}
.swiper-pagination-bullet {
    background-color: #FFF !important;
    width: 16px !important;
    height: 4px !important;
    border-radius: 3px !important;
}

.masonry-container {
    position: relative;
    background-color: #FFF;
    padding: 20px 0;
    .item {
        position: absolute;
    }
}

.user-info {
    text-align: center;
    width: 45vw;
    box-shadow: rgba(53, 64, 82, 0.24) 0 2px 4px 0;
    border-radius: 3px;
    margin: 10px auto;
    .info-wrap {
        position: relative;
        .vip-user {
            background: url('/images/vip.png') no-repeat;
            background-size: cover;
            position: absolute;
            top: 0;
            left: 0;
            width: 40px;
            height: 30px;
            z-index: 100;
            opacity: .8;
        }
        img {
            height: 60vw;
            width: 45vw;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }
    }
    .user-assets {
        list-style: none;
        padding-bottom: 8px;
        li {
            display: inline-block;
        }
        .tag-text {
            font-size: 12px;
            line-height: 12px;
            border-radius: 3px;
            padding: 2px 3px;
        }

        .border-text-red {
            border: 1px #F44336 solid;
            color: #F44336;
        }

        .border-text-green {
            border: 1px #009688 solid;
            color: #009688;
        }
    }

    .user-baseinfo {
        color: #333;
        .user-name {
            font-size: 15px;
        }
        .user-other {
            font-size: 13px;
            color: #666;
        }
    }
}

.notice {
    background-color: #FFF;
    padding: .8rem 1rem;
    margin-bottom: 7px;
}

.weui-tabbar {
    background-color: #f7f7f7;
    box-shadow: 0px -2px 8px -2px rgba($color: #d0d0d0, $alpha: 0.5);
    p {
        font-size: .75rem;
        padding: .1rem;
    }
}
.loading, .no-more, .load-more {
    text-align: center;
    font-size: 13px;
    padding: 10px 0;
}
.d-none {
    display: none;
}

.weui-tabbar__icon {
    margin-bottom: 1px;
}
.weui-tabbar__item {
    padding: 4px 0;
    padding-bottom: calc(4px + constant(safe-area-inset-bottom));
    padding-bottom: calc(4px + env(safe-area-inset-bottom));
}

.page-loading {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    background: #FFF;
    span {
        display: block;
        text-align: center;
        margin-top: 40vh;
    }
}

.category {
    width: 96vw;
    margin: 2vw auto;
    background-color: #FFF;
    border-radius: 5px;
    padding: 2vw 0;
    li {
        display: inline-block;
        width: 18vw;
        text-align: center;
        padding: 2vw 3vw;
        font-size: .85rem;
        a {
            color: #333;
        }
        img {
            width: 12vw;
        }
    }
}

.box-wraper {
    background-color: #FFF;
    padding: 2vw 0;
    width: 96vw;
    margin: 2vw auto;
}

.new-post-list {
    background-color: #FFF;
    padding: 5vw 0;
    width: 96vw;
    border-radius: 5px;
    margin: 2vw auto;
    .post-list__title {
        padding-left: 2vw;
        margin-left: 3vw;
        font-weight: bold;
        line-height: 1rem;
        border-left: 3px solid rgb(49, 84, 197);
    }
    ul {
        padding: .8rem 0;
        margin: 0 2vw;
    }
    li {
        font-size: .9rem;
        line-height: 1.4rem;
        padding: .3rem 0;
        border-bottom: 1px solid #fafafa;
        list-style: none;
        .post-title {
            max-width: 96vw;
            padding-left: 1vw;
            margin: .3rem 0;
        }
        .post-info {
            display: flex;
            margin: 0 .4rem;
            justify-content: space-between;
            font-size: .7rem;
            color: #666;
        }
        .post-date {
            width: 16vw;
            height: 1rem;
            line-height: 1rem;
            text-align: right;
            padding-right: 1vw;
            overflow: hidden;
        }

        .post-stick {
            &:before {
                content: '顶';
                color: #FFF;
                font-size: .7rem;
                background-color: #F44336;
                border-radius: 4px;
                padding: .1rem .2rem;
                margin-right: .2rem;
                vertical-align: top;
            }
        }
    }
}