html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  box-sizing: border-box;
  z-index: 1;
  background-color: #f7f7f7;
}

.content {
  background-color: #f7f7f7;
}

.swiper-container {
  width: 100vw;
  height: 50vw;
}

.swiper-slide img {
  width: 100%;
}

.swiper-pagination-bullet {
  background-color: #FFF !important;
  bottom: 2px !important;
}

.masonry-container {
  position: relative;
  background-color: #FFF;
  padding: 20px 0;
}

.masonry-container .item {
  position: absolute;
}

.user-info {
  text-align: center;
  width: 45vw;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  margin: 10px auto;
}

.user-info .info-wrap {
  position: relative;
}

.user-info .info-wrap .vip-user {
  background: url("/images/vip.png") no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 30px;
  z-index: 100;
  opacity: 0.8;
}

.user-info .info-wrap img {
  height: 60vw;
  width: 45vw;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.user-info .user-assets {
  list-style: none;
  padding-bottom: 8px;
}

.user-info .user-assets li {
  display: inline-block;
}

.user-info .user-assets .tag-text {
  font-size: 12px;
  line-height: 12px;
  border-radius: 3px;
  padding: 2px 3px;
}

.user-info .user-assets .border-text-red {
  border: 1px #F44336 solid;
  color: #F44336;
}

.user-info .user-assets .border-text-green {
  border: 1px #009688 solid;
  color: #009688;
}

.user-info .user-baseinfo {
  color: #333;
}

.user-info .user-baseinfo .user-name {
  font-size: 15px;
}

.user-info .user-baseinfo .user-other {
  font-size: 13px;
  color: #666;
}

.notice {
  background-color: #FFF;
  padding: 0.8rem 1rem;
  margin-bottom: 7px;
}

.weui-tabbar {
  background-color: #FFF;
  box-shadow: 0px -2px 8px -2px rgba(208, 208, 208, 0.5);
}

.weui-tabbar p {
  font-size: 1.1rem;
  padding: 0.5rem;
}

.loading,
.no-more,
.load-more {
  text-align: center;
  font-size: 13px;
  padding: 10px 0;
}

.d-none {
  display: none;
}

.page-loading {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  background: #FFF;
}

.page-loading span {
  display: block;
  text-align: center;
  margin-top: 40vh;
}

.user-detail-header {
  background: url("http://www.dtwmsj.com/uploads/20201207/917319b3f07fa91b7380c1c5d5ad50fa.jpg") no-repeat;
  background-size: cover;
  position: relative;
  height: 40vw;
}

.user-detail .user-avatar {
  position: absolute;
  left: 5vw;
  bottom: -10vw;
  width: 20vw;
  height: 20vw;
  padding: 1vw;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  z-index: 100;
  box-shadow: 0 2px 6px 1px #c7c7c7bf;
}

.user-detail .user-avatar img {
  width: 20vw;
  height: 20vw;
}

.user-detail-info {
  padding-left: 32vw;
  padding-top: 0.9rem;
  display: flex;
  margin-bottom: 1.1rem;
  font-size: 1.1rem;
  height: 1.5rem;
  line-height: 1.6rem;
}

.user-detail-info .gender-1,
.user-detail-info .gender-2 {
  color: #FFF;
  font-size: 0.85rem;
  height: 0.85rem;
  border-radius: 0.3rem;
  padding: 0.2rem 0.3rem;
  margin: 0.2rem 0 0 0.7rem;
  line-height: 0.85rem;
}

.user-detail-info .gender-1::before,
.user-detail-info .gender-2::before {
  content: " ";
  display: inline-block;
  height: 0.85rem;
  width: 0.85rem;
  vertical-align: bottom;
  margin-right: 0.25rem;
}

.user-detail-info .gender-1 {
  background-color: #0091FF;
}

.user-detail-info .gender-1::before {
  background: url(/images/nan.svg?633af9d19095412ccbb84e276ea46b56) no-repeat;
  background-size: contain;
}

.user-detail-info .gender-2 {
  background-color: #FF4D94;
}

.user-detail-info .gender-2::before {
  background: url(/images/nv.svg?680008df835bc66df09bbcf1a13867f5) no-repeat;
  background-size: contain;
}

.user-detail-other {
  width: 96vw;
  margin: 2vw auto;
  background-color: #FFF;
  border-radius: 5px;
  padding: 2vw 0;
  color: #3a3a3a;
}

.user-detail-other > div {
  line-height: 2rem;
  padding: 0 1rem;
}

.user-detail-images {
  width: 96vw;
  margin: 2vw auto;
  background-color: #FFF;
  border-radius: 5px;
  padding: 2vw 0;
}

.user-detail-images ul {
  list-style: none;
}

.complete-userinfo-toptip {
  text-align: center;
  padding: 1rem 0;
  color: #666;
}

.contact-us {
  text-align: center;
}

.contact-us img {
  width: 50vw;
  height: 50vw;
}

