html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  box-sizing: border-box;
  z-index: 1;
}

.swiper-container {
  width: 100vw;
  height: 200px;
}

.swiper-slide {
  background-color: #999;
}

.masonry-container {
  position: relative;
}

.masonry-container .item {
  position: absolute;
}

.avatar {
  text-align: center;
}

.avatar img {
  height: 60vw;
  width: 40vw;
}

.notice {
  padding: 0.8rem 1rem;
}

.weui-tabbar p {
  font-size: 1.1rem;
  padding: 0.5rem;
}

